extends ../main.layout.pug

block variables
    - var title = 'Блог'

block scripts
    script(src='./assets/scripts/blog.bundle.js')    

block content
        section.hero.blog#blog
            -
                var socials = [
                ['vk', 'http://vk.com'],
                ['github', 'http://gh.com'],
                ['linkedin', 'http://in.com']
                ]
            .blog__container
                .blog__title('../images/blog-header.png')
                    .user
                        .user__pic
                            img.user__pic-image(src="./assets/images/avatar.png")
                        .user__description
                            .blog__caption Блог
                            .user__info Статьи, которые я написал

        section.blog      
            .blog__content
                .blog__left
                    .triangle
                        .triangle__left.triangle__left_transparent
                    ul.blog__list                           
                        li.blog__item 
                            a(href="#" class="blog__item-link blog__item-link_active") Самое важное в SASS                           
                                +image('border-right.png','','blog__items-border')
                        li.blog__item 
                            a(href="#" class="blog__item-link") Приёмы в вёрстке, без которых <br/> не обходится ни один сайт                                                           
                        li.blog__item 
                            a(href="#" class="blog__item-link") Самый необходимый набор Gulp <br/> плагинов
                        li.blog__item 
                            a(href="#" class="blog__item-link") Почему я выбрал Jade

                .blog__right
                    .triangle
                        .triangle__right.triangle__right_transparent
                    ul.blog__right-list
                        li.blog__right__item
                            .item__container
                                .item__title Самое важное в SASS
                                .item__date 22 ноября 2016
                                .item__content
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    #{br}
                                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                                    #{br}
                                +image('code.png','картинка с кодом', 'item__content-img')
                                .splitter
                                    +image('splitter-hor.png','конец сообщения', '')

                        li.blog__right__item
                            .item__container
                                .item__title Приёмы в вёрстке, без которых не обходится ни один сайт
                                .item__date 13 ноября 2016
                                .item__content
                                    p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                    br
                                    p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.                                

            include ../blocks/footer__about.pug

