.fullscreen#fullscreen
    ul.fullscreen__list
        li.fullscreen__item 
            a(href="works.html" class="fullscreen__item--link") Мои работы
        li.fullscreen__item 
            a(href="about.html" class="fullscreen__item--link") обо мне 
        li.fullscreen__item
            a(href="blog.html" class="fullscreen__item--link") Блог
        li.fullscreen__item 
            a(href="auth.html" class="fullscreen__item--link") авторизация