.socials {
    display: flex;
    padding-left: 30px;
    padding-top: 30px;
}

.socials-margin {
    margin-bottom: 60px;
    @include widephone() {
        display: flex;
        justify-content: center;
    }
}

.socials__item {
    padding-right: 30px;
}

.social__svg {
    fill: #8a9592;
    height: 31px;
    width: 40px;
    cursor: pointer;
    &:hover {
        fill: #4e8839;
    }
    &-white {
        fill: #fff;
    }
    &-arrow {
        height: 25px;
        width: 25px;
    }
}

.social__svg-about {
    fill: #8a9592;
    height: 31px;
    width: 40px;
    cursor: pointer;
    &:hover {
        fill: #fff;
    }
}

.social__container {
    margin-top: 40px;
}

.social__list {
    display: flex;
}

.social__item {
    margin-right: 20px;
}

.social__nav-link {
    color: #fff;
    text-decoration: none;
}