.triangle__left {
    content: '';
    display: block;
    padding-top: 10%;
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 100%;
    background: #fff;
    background: linear-gradient( to top right, #ebefe2 0%, #ebefe2 50%, transparent calc(50% + 1px), transparent 100%);
    &_transparent {
        background: linear-gradient( to top right, #fff 0%, #fff 50%, transparent calc(50% + 1px), transparent 100%);
    }
}

.triangle__right {
    content: '';
    display: block;
    padding-top: 10%;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 100%;
    background: #fff;
    background: linear-gradient( to top left, #f4f5f0 0%, #f4f5f0 50%, transparent calc(50% + 1px), transparent 100%);
    &_transparent {
        background: linear-gradient( to top left, #ffff 0%, #ffff 50%, transparent calc(50% + 1px), transparent 100%);
    }
}